/**
 * CSS voor de backend van WordPress. Dit bestand wordt alleen geïnclude in de backend van WordPress.
 * 
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.2
 * @version     0.3.1
 */

/* De Bordeaux Specialist
   ========================================================================== */

#adminmenu .menu-icon-bdx_recipe div.dashicons-before:before {
  content: "\f159";
}

#adminmenu .menu-icon-bdx_testimonial div.dashicons-before:before {
  content: "\f205";
}

/* Generiek 
   ========================================================================== */

#adminmenu .toplevel_page_widgets div.wp-menu-image:before {
	content: "\f136";
}

#adminmenu .toplevel_page_nav-menus div.wp-menu-image:before {
	content: "\f214";
}