/**
 * Schrijf hier de styling voor de footer
 * 
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.3.1
 */

/* Generiek 
   ========================================================================== */

@include sticky-footer($footer_height, "#wrapper-global", "#footer-push", "#footer-main");

.footer-main {
	overflow: none;
	
	background-color: transparent;
	background: url(../images/bg-red-divider.png) repeat-x bottom;
	
	h1 {
		margin: 0;
		@include hide-text;
	}
	
	ul {
	    text-align: center;
		
		li {
			display: inline-block;
			
			a {
				height: $footer_height;
				line-height: $footer_height;
				display: inline-block;
				
				padding: 0 10px;
				
				color: $color_3;
				text-decoration: none;
				
				&:hover {
				    color: $color_1;
				    text-decoration: underline;
				}
			}
			
			&:before {
			    content: "|";
			    color: $color_3;
			}
			
			&:first-of-type:before {
                content: "";
			}
		}
	}
}

.site-info {
	height: $footer_height;
	line-height: $footer_height;
	float: right;
	margin-left: 40px;
}
